section {
    display: flex;
}

div {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.first {
    background-image: linear-gradient(to bottom, red, blue);
}

.second {
    background-image: repeating-linear-gradient(45deg, blue 0 10px,red 10px 20px);
}

.third {
    background-image: radial-gradient( yellow, green);
}

.fourth {
    background-image: repeating-radial-gradient( yellow 0 10px,green 10px 20px);
}

.fifth {
    background-image: radial-gradient(yellow, green, transparent), linear-gradient(to bottom, blue, purple);
}