.photo {
    width: 300px;
}

body {
    margin: 0;
}

section {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}

figure {
    margin: 10px;
    display: flex;
    flex-flow: column;
}

div {
    display: flex;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }