.qr-image {
    width: 200px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.pay-items {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.offer {
    display: flex;

    .hesh {
        width: 500px;
        margin-right: 20px;
    }
    
    .submit2 {
        width: 150px;
    }
}