.grid {
    display:grid;
    grid-template-areas: "x y w";
    grid-template-columns: 5% 45% 45%;
    grid-template-rows: 800px;
    height: 100%;
    grid-gap: 12px;
}

.grid div {
    border: 2px solid black;
}

.first {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 55px;
    text-align: center;
}

.second, .third {
    text-align: center;
    font-size: 21px;
}