.grid {
    display:grid;
    grid-template-columns: 45% 45% 5%;
    grid-template-rows: 550px 240px;
    grid-gap: 12px;
}

.grid div {
    border: 2px solid black;
}

.first {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 55px;
    text-align: center;
}

.second, .third, .fourth {
    text-align: center;
    font-size: 21px;
}

.first {
    grid-row: span 2;
}

.second {
    grid-row: span 2;
}