.grid {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 12px;
}

.grid .one, .two, .three, .four, .five, .six, .seven, .eight, .eleven, .twelve, .thirteen, .fourteen  {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.nine {
    grid-column: span 2;
    grid-row: span 2;
}

.ten {
    grid-column: span 2;
    grid-row: span 2;
}

img {
    width: 200px;
}

.img9 {
    border: 1px solid black;
    width: 412px;
    height: 414px;
}

.img {
    float: left;
}