@page "{id:int}"
@model ASPA007_1.Pages.CelebrityModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

@if (Model.Celeb != null)
{
    <div style="text-align:center;">
        <h2>@Model.Celeb.FullName</h2>
        <p>@Model.Celeb.Nationality</p>
        <img src="/Photos/@Model.Celeb.ReqPhotoPath" width="300" style="border-radius: 10px;" />
    </div>

    @if (Model.LifeEvents != null && Model.LifeEvents.Any())
    {
        <div style="margin-top:30px;">
            <h3 style="text-align:center;">Жизненные события</h3>
            <ul style="list-style:none; padding:0; max-width:600px; margin:auto;">
                @foreach (var ev in Model.LifeEvents)
                {
                    <li style="margin-bottom:20px; padding:10px; border:1px solid #ccc; border-radius:10px;">

                        <span>@ev.Date.ToString("dd.MM.yyyy")</span><br />
                        <p>@ev.Description</p>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p style="text-align:center; margin-top:20px;">События не найдены.</p>
    }
}
else
{
    <p>Знаменитость не найдена.</p>
}

