@function max-width() {
    @return 800px;
}

@function max-width2() {
    @return 760px;
}

.main-text {
    width: max-width();
}

.textTwo {
    max-width: max-width2();
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    .gif {
        display: flex;
        justify-content: space-between;

        img {
            width: 170px;
        }
    }
}