%width {
    width: 210px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 16px;
}

@function max-width2() {
    @return 760px;
}

.textOne {
    max-width: max-width2();
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    .about-box {
        display: flex;
        justify-content: space-around;

        div {
            @extend %width;
        }

        .about-text {
            text-align: center;
            background: $yellow;
            
            p {
                padding: 0 10px;
            }
        }
    }
}