body {
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

img {
    width: 500px;
}

.pic1, .pic2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.image1:hover {
    transform: scale(0.5);
    transform-origin: 0 0;
}

.image2:hover {
    transform: rotate(45deg);
}

.image3:hover {
    transform: translate(50px, 0px);
}

.image4:hover {
    transform: skew(-20deg);
}

.second img {
    width: 240px;
    margin-right: 50px;
}

.image5 {
    transform: perspective(400px) rotateX(45deg);
}

.image6 {
    transform: perspective(400px) rotateY(45deg);
}

.image7 {
    transform: perspective(400px) rotateX(45deg);
}

.image8 {
    transform: perspective(400px) rotateY(-45deg);
}

button {
    width: 150px;
    height: 50px;
    margin-right: 70px;
}

.but1:hover {
    background-color: black;
    color: white;
}

.but2:hover {
    background-color: white;
    border: solid 4px red;
    outline: solid 4px yellow;
}

.but3:hover {
    background-color: white;
    border: none;
    border-top: solid 4px green;
    border-bottom: solid 4px green;
}

.but4:hover {
    background-color: white;
    border: none;
    border-right: solid 4px blue;
    border-left: solid 4px blue;
}

.but5:hover {
    border: none;
    background-image: radial-gradient(yellow, rgb(255, 0, 200), purple, blue, aqua 70%);
}

.anim {
    position: relative;
}

.anim img {
    width: 250px;
    transform: perspective(400px) rotateY(45deg);
    position: absolute;
}

.image9 {
    animation: imageAnim 6s linear 1;
    animation-fill-mode: forwards;
}

.image10 {
    left: 20px;
    animation: imageAnim2 6s linear 1;
    animation-fill-mode: forwards;
}

.image11 {
    left: 40px;
    animation: imageAnim3 6s linear 1;
    animation-fill-mode: forwards;
}

.image12 {
    left: 60px;
    animation: imageAnim4 6s linear 1;
    animation-fill-mode: forwards;
}

@keyframes imageAnim {
    0% {
        transform: perspective(400px) rotateY(45deg);
        position: absolute;
    }
    10% {
        transform: none;
    }
    100% {
        transform: none;
    }
}

@keyframes imageAnim2 {
    0% {
        transform: perspective(400px) rotateY(45deg);
        position: absolute;
    }
    10% {
        transform: none;
    }
    50% {
        left: 20px;
        filter: none;
        transform: none;
    }
    100% {
        transform: none;
        left: 270px;
        filter: blur(10px);
    }
}

@keyframes imageAnim3 {
    0% {
        transform: perspective(400px) rotateY(45deg);
        position: absolute;
    }
    10% {
        transform: none;
    }
    50% {
        left: 40px;
        filter: none;
        transform: none;
    }
    100% {
        transform: none;
        left: 540px;
        filter: grayscale(1);
    }
}

@keyframes imageAnim4 {
    0% {
        transform: perspective(400px) rotateY(45deg);
        position: absolute;
    }
    10% {
        transform: none;
    }
    50% {
        left: 60px;
        filter: none;
        transform: none;
    }
    100% {
        transform: none;
        left: 810px;
        filter: invert(1);
    }
}

.switch {
    margin-top: 500px;
    margin-bottom: 100px;
    height: 400px;
    width: 400px;
    background-image: url('../lab 7/357358505_833746844765263_8476607596925165412_n.jpg');
    background-size: 400px;
    background-repeat: no-repeat;
    border: 5px solid black;
    animation: switch 25s linear infinite;
}


@keyframes switch {
    0% {
        background-image: url('../lab 7/357358505_833746844765263_8476607596925165412_n.jpg');
    }
    19% {
        background-image: url('../lab 7/357358505_833746844765263_8476607596925165412_n.jpg');
    }
    20% {
        background-image: url('../lab 7/2.png');
    }
    39% {
        background-image: url('../lab 7/2.png');
    }
    40% {
        background-image: url('../lab 7/Big-Flat_09.png');
    }
    59% {
        background-image: url('../lab 7/Big-Flat_09.png');
    }
    60% {
        background-image: url('../lab 7/c-xpnwFdPEU.jpg');
    }
    79% {
        background-image: url('../lab 7/c-xpnwFdPEU.jpg');
    }
    80% {
        background-image: url('../lab 7/IMG_3252-N8aCjP_ui-transformed.png');
    }
    99% {
        background-image: url('../lab 7/IMG_3252-N8aCjP_ui-transformed.png');
    }
}

.slide img {
    margin-top: 50px;
    width: 200px;
    display: block;
}

.image13 {
    animation: image13 10s infinite;
}

.image14 {
    animation: image14 10s infinite;
}

.image15 {
    animation: image15 10s infinite;
}

.image16 {
    animation: image16 10s infinite;
}

.image17 {
    transform: scale(0.5);
    transform-origin: top left;
    animation: image17 10s infinite;
}

@keyframes image13 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(200px, 0px);
    }
}

@keyframes image14 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        transform: translate(1000px, 0px);
    }
}

@keyframes image15 {
    from {
        transform: translate(-400px, 0px);
    }
    to {
        transform: translate(1600px, 0px);
    }
}

@keyframes image16 {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 50px);
    }
}

@keyframes image17 {
    0% {
        transform-origin: top left;
    }
    25% {
        transform-origin: top right;
    }
    50% {
        transform-origin: bottom right;
    }
    75% {
        transform-origin: bottom left;
    }
}

p {
    width: 300px;
    height: 300px;
}

span:hover {
    animation: textanim 5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes textanim {
    from {
        color: black;
    }
    to {
        color: red;
    }
}

h3 {
    margin: 0 auto;
    animation: texta 10s infinite;
}

@keyframes texta {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 80%;
    }
    100% {
        opacity: 0%;
    }
}