@font-face {
    font-family: Rubik-Regular;
    src: url("../2 lab/Rubik-Regular.ttf");
}

@font-face {
    font-family: Rubik-Black;
    src: url("../2 lab/Rubik-Black.ttf");
}

@font-face {
    font-family: Monotype;
    src: url("../2 lab/monotypecorsiva.ttf");
}