@font-face {
    font-family: Rubik-Regular;
    src: url("../1 lab/Rubik-Regular.ttf");
}

@font-face {
    font-family: Rubik-Black;
    src: url("../1 lab/Rubik-Black.ttf");
}

@font-face {
    font-family: Molot;
    src: url("../1 lab/Molot.otf");
}

.clearfix {
    clear: both;
}

body {
    font-family: Rubik-Regular, sans-serif;
    margin: 0;
}

#header {
    padding: 50px 0px;
    background: aqua;
    text-align: center;
}

#menu {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

span {
    color: aqua;
}

h1,  h2 {
    text-align: center;
    font-family: Rubik-Black, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

.p1 {
    color: brown;
    font-family: Molot, sans-serif;
}

.p2 {
    color: blueviolet;
}

#information {
    margin-right: 20px;
    text-align: right;
}



.form-control {
    margin-bottom: 15px;
}

.form-control label {
    width: 200px;
    display: block;
    float: left;
    margin: 0;
    text-align: right;
    margin-right: 15px;
}


#info {
    margin-bottom: 0px;
}


#button {
    margin-top: 20px;
}

#footer {
    margin-top: 50px;
    padding: 50px 0px;
    background: aqua;
    text-align: center;
}

#image {
    width: 1120px;
}

aside {
    width: 40%;
    padding-left: 50px;
    margin-left: 20px;
    float: right;
    font-style: italic;
    color: #00ff66;
}
  