@import url(second.css) (max-width: 1280px);

body {
    margin: 0;
}

section {
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.head, .line div {
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.tw {
    width: 20%;
}

.space {
    width: 45%;
}

p {
    margin: 0;
}

.part3 .line div {
    width: 150px;
}

.div2, .div3 {
    border: none !important;
}

.div1 {
    position: relative;
}

.div3 {
    position: absolute;
    left: 60px;
    top: 0px;
}

.hamburger {
    border: none;
    background: none;
    visibility: hidden;
}

figure {
    margin: 10px;
    display: flex;
    flex-flow: column;
}

figcaption {
    background-color: #222;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

@media (max-width: 767px) {

.part3 {
    margin: 0 auto;
}

.part3 .line {
    display: block;
}

.part3 .line div {
    margin: auto auto;
    margin-bottom: 10px;
}

.hamburger {
    visibility: visible;
}

figcaption {
    color: red;
}

.photo {
    width: 100%;
}

}