body {
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
}

aside {
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
}

aside a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

aside a:link {
    color: red;
}

aside a:visited {
    color: #8B0000;
}

aside a:hover {
    color: green;
}

aside a:active {
    color: rgb(184, 134, 11);
}

.info {
    padding: 20px;
    width: 70%;
}