/* Кнопка выпадающего списка */
.dropbtn {
width: 200px;
text-align: center;
font-size: 16px;
border: 1px solid black;
background-color: white;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
position: relative;
display: inline-block;
margin: 20px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
display: none;
position: absolute;
width: 200px;
z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
color: black;
text-decoration: none;
display: block;
padding: 5px 0px 5px 0px;
border: 1px black solid;
}

.dropbtn:hover {
    background-image: url('../lab 8/facultet.png');
    background-position-y: 33%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.dropdown:hover .dropdown-content {
display: block;
}

a {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
}

body {
    display: flex;
}

.a, .b, .c {
    margin: 20px;
}

.a:hover {
    background-image: url('../lab 8/facultet.png');
    background-repeat: no-repeat;
    background-size: 20px;
}

.b:hover {
    background-image: url('../lab 8/facultet.png');
    background-position-y: 99%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.c:hover {
    background-image: url('../lab 8/facultet.png');
    background-position-y: 66%;
    background-repeat: no-repeat;
    background-size: 20px;
}